/build/
/build-fetch/
/build-root-plugin/
/build-installcheck/
/build-local-prebyte/
/dist/
/dist-fetch/
/dist-root-plugin/
/CMakeFiles/
/.tempify/
/CMakeCache.txt
/CTestTestfile.cmake
/DartConfiguration.tcl
/cmake_install.cmake
/install_manifest.txt
/install_manifest_*.txt
/compile_commands.json
/scripts/ci/__pycache__/
/tests/test_workspace/
/build-cmake/
